/* цвет основного текста: #757575 */
/* цвет вторичного текста: #212121 */
/* акцент: #2196F3 */
/* белый цвет: #FFFFFF */
/* черный цвет: #000000 */
/* вторичный цвет фона страницы: #F5F4FA */
/* цвет фона герой: #C4C4C4 */
/* цвет градиента герой: rgba(47, 48, 58, 0.4) */ 
/* цвет фона футера: #2F303A */
/* цвет фона кнопки заказать услугу: #188CE8 */
/* цвет текста почты и телефона в футере: rgba(255, 255, 255, 0.6) */
/* цвет канта карточек проекта: #EEEEEEE */
/* цвет границы хэдера: #ECECEC */
/* цвет иконок социальных сетей в нашей команде: #AFB1B8 */
/* цвет фона иконок футера: rgba(255, 255, 255, 0.1) */
/* цвет фона overlay секции about: rgba(47, 48, 58, 0.8) */
/* цвет фона overlay модального окна: rgba(0, 0, 0, 0.2) */
/* цвет фона overlay карточки проекта: rgba(33, 150, 243, 0.9) */

/* отступ между карточками: 30px */
/* функция временного перехода: cubic-bezier(0.4, 0, 0.2, 1) */

/* -----Общие стили----- */












/*-----Стили вебстудии----- */

/* Верхняя линия */








/* Герой */











/* Section */



/* Особенности */



/* Чем мы занимаемся */



/* Наша команда */

.team {
    background-color: var(--secondary-background-color);
    margin-right: auto;
    margin-left: auto;
}

.team-list {
    display: flex;
    margin-left: calc(-1 * var(--card-gap));
}

.team__item {
    flex-basis: calc(100% / 4 - var(--card-gap));
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: var(--card-gap);

    background-color: var(--white-color);
}

.team__content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
}

.social__item:not(:first-child) {
    margin-left: 10px;
}

.social__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
    color: var(--icon-color);

    transition: color 250ms var(--timing-function), 
    background-color 250ms var(--timing-function);
}

.social__link:hover, .team-social__link:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.social__icon {
    fill: currentColor;
}

/* Постоянные клиенты */

.client-list {
    display: flex;
    margin-left: calc(-1 * var(--card-gap));
}

.client__item {
    flex-basis: calc(100% / 6 - var(--card-gap));
    margin-left: var(--card-gap);
}

.client__link {
    display: flex;
    width: 100%;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    color: var(--icon-color);

    transition: color 250ms var(--timing-function), 
    border 250ms var(--timing-function);
}

.client__link:hover, .client__link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.client__icon {
    fill: currentColor;
}

/* Footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-footer-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.address-container {
    margin-right: 70px;
}

.footer__logo {
    margin-bottom: 20px;
    font-style: normal;
}

.footer__logo-studio {
    color: var(--white-color);
}

.address-list {
    width: 231px;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__link {
    display: block;
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    transition: color 250ms var(--timing-function);
}

.address__link:hover, .address__link:focus {
    color: var(--accent-color);
}

.address__link-mail, .address__link-tel {
    display: block;
    color: var(--text-adress-color);
    transition: color 250ms var(--timing-function);
} 

.address__link-mail:hover, .address__link-mail:focus {
    color: var(--accent-color);
}

.address__link-tel:hover, .address__link-tel:focus {
    color: var(--accent-color);
}

.footer-social__text, .footer-form__text {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
}

.footer-social__link {
    background-color: var(--icon-background-footer);
    color: var(--white-color);

    transition: background-color 250ms var(--timing-function);
}

.footer-social__link:hover, .footer-social__link:focus {
    background-color: var(--accent-color);
}

.footer-social__icon {
    fill: currentColor;
}

.footer-form {
    margin-left: auto;
}

.email-form {
    display: flex;
}

.email__input {
    display: inline-block;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;

    font-size: 16px;
    line-height: 1.25;
    color: var(--text-adress-color);
    background-color: var(--background-footer-color);
}

.email-button {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.email__icon {
    margin-left: 10px;
    fill: var(--white-color);
}

/*-----Стили страницы портфолио----- */

/* Фильтры */

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__item:not(:first-child) {
    margin-left: 8px;
}

.filter__button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 73px;
    padding: 6px 22px;
    cursor: pointer;

    background-color: var(--secondary-background-color);
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.filter__button:hover, .filter__button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Проекты */

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-gap));
    margin-left: calc(-1 * var(--card-gap));
}

.project__item {
    flex-basis: calc(100% / 3 - var(--card-gap));
    margin-top: var(--card-gap);
    margin-left: var(--card-gap);
    background-color: var(--white-color);
}

.project__link {
    display: block;
    transition: box-shadow 250ms var(--timing-function);
}

.project__link:hover, .project__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__overlay {
    position: relative;
    overflow: hidden;
}

.project__text {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 101%;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    color: var(--white-color);
    background-color: var(--overlay-project-card);

    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
}

.project__link:hover .project__text, .project__link:focus .project__text {
    transform: translateY(0);
}

.project__content {
    padding: 20px 24px;
    border-right: 1px solid var(--border-project-color);
    border-bottom: 1px solid var(--border-project-color);
    border-left: 1px solid var(--border-project-color);
}

.project__name {
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project__description {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
}