/* цвет основного текста: #757575 */
/* цвет вторичного текста: #212121 */
/* акцент: #2196F3 */
/* белый цвет: #FFFFFF */
/* черный цвет: #000000 */
/* вторичный цвет фона страницы: #F5F4FA */
/* цвет фона герой: #C4C4C4 */
/* цвет градиента герой: rgba(47, 48, 58, 0.4) */ 
/* цвет фона футера: #2F303A */
/* цвет фона кнопки заказать услугу: #188CE8 */
/* цвет текста почты и телефона в футере: rgba(255, 255, 255, 0.6) */
/* цвет канта карточек проекта: #EEEEEEE */
/* цвет границы хэдера: #ECECEC */
/* цвет иконок социальных сетей в нашей команде: #AFB1B8 */
/* цвет фона иконок футера: rgba(255, 255, 255, 0.1) */
/* цвет фона overlay секции about: rgba(47, 48, 58, 0.8) */
/* цвет фона overlay модального окна: rgba(0, 0, 0, 0.2) */
/* цвет фона overlay карточки проекта: rgba(33, 150, 243, 0.9) */

/* отступ между карточками: 30px */
/* функция временного перехода: cubic-bezier(0.4, 0, 0.2, 1) */

/* -----Общие стили----- */
:root {
    --primary-text-color: #757575;
    --title-text-color:  #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --secondary-background-color: #F5F4FA;
    --background-color-hero: #C4C4C4;
    --background-color-gradient: rgba(47, 48, 58, 0.4);
    --background-footer-color: #2F303A;
    --background-color-btn-order: #188CE8;
    --text-adress-color: rgba(255, 255, 255, 0.6);
    --border-project-color: #EEEEEE;
    --border-header-color: #ECECEC;
    --icon-color: #AFB1B8;
    --icon-background-footer: rgba(255, 255, 255, 0.1);
    --background-overlay-about: rgba(47, 48, 58, 0.8);
    --background-overlay-modal: rgba(0, 0, 0, 0.2);
    --overlay-project-card: rgba(33, 150, 243, 0.9);
    --modal-input-color: rgba(33, 33, 33, 0.2);

    --card-gap: 30px;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    display: block; 
    max-width: 100%;
    height: auto;
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*-----Стили вебстудии----- */

/* Верхняя линия */

.header {
    border-bottom: 1px solid var(--border-header-color);
}

.header .container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo-web, .logo-studio {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-studio {
    color: var(--black-color);
}

.site-nav {
    display: flex;
    margin-left: 93px;
    align-items: center;
}

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms var(--timing-function);
}

.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    position: relative;
    color: var(--accent-color);
}

.site-nav .link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.header-list {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header-list .item + .item {
    margin-left: 50px;
}

.header-list .link-mail, .header-list .link-tel {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;

    transition: color 250ms var(--timing-function);
}

.header-list .link-mail:hover, .header-list .link-mail:focus {
    color: var(--accent-color);
}

.mail-icon {
    margin-right: 10px;
    fill: currentColor;
}

.header-list .link-tel:hover, .header-list .link-tel:focus {
    color: var(--accent-color);
}

.tel-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* Герой */

.hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;

    background-color: var(--background-color-hero);  
    background-image: linear-gradient(to right, var(--background-color-gradient), var(--background-color-gradient)), 
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.hero-title {
    width: 696px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}

.button {
    display: inline-block;
    min-width: 200px;
    border: none;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    background-color: var(--accent-color);
    color: var(--white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    transition: background-color 250ms var(--timing-function);
}

.button:hover, .button:focus{
    background-color: var(--background-color-btn-order);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: var(--background-overlay-modal);
    opacity: 1;

    transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    display: block;
    width: 528px;
    min-height: 581px;
    padding: 40px;
    border-radius: 4px;

    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
}

.close-icon {
    fill: var(--black-color);
    transition: fill 250ms var(--timing-function);
}

.close-button:hover .close-icon,
.close-button:focus .close-icon{
    fill: var(--accent-color);
}

.modal-form > .text {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
}

.form-label {
    display: block;
    padding: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--primary-text-color);
}

.form-label:nth-child(-n+4) {
    margin-bottom: 10px;
}

.form-label.comment {
    margin-bottom: 20px;
}

.form-content {
    position: relative;
    display: block;
    margin-top: 4px;
}

.form-input {
    width: 100%;
    height: 40px;
    padding: 11px 12px 11px 42px;
    border: 1px solid var(--modal-input-color);
    border-radius: 4px;
    outline: none;
    color: var(--title-text-color);

    transition: border 250ms var(--timing-function);
}

.form-input:focus {
    border: 1px solid var(--accent-color);
}

.form-input:focus + .modal-icon {
    fill: var(--accent-color);
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--title-text-color);
    
    transition: fill 250ms var(--timing-function);
}

.form-textarea {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    border: 1px solid var(--modal-input-color);
    border-radius: 4px;
    font: inherit;
    resize: none;
    outline: none;

    transition: border 250ms var(--timing-function);
}

.form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-textarea:focus {
    border: 1px solid var(--accent-color);
}

.checkbox-label {
    position: relative;
    display: inline-flex;
    justify-content: right;
    align-items: center;
    width: 423px;
}

.checkbox-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
}

.checkbox-link {
    text-decoration: underline;
    color: var(--accent-color);
}

.checkbox-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -appearance: none;
}

.checkbox-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    margin-right: 7px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    background-color: transparent;
    fill: transparent;

    transition: border 250ms var(--timing-function),
    fill 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.checkbox-input:checked + .checkbox-icon, 
.checkbox-label:focus:checked + .checkbox-icon {
    border: 2px solid transparent;
    background-color: var(--accent-color);
    fill: var(--white-color);
}

.modal-form .button {
    padding-left: 56px;
    padding-right: 55px;
    margin-top: 30px;
}

/* Section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;    
}

/* Особенности */

.section.features {
    padding-bottom: 0;
}

.feature-list {
    display: flex;
}

.feature-list .item {
    width: 270px;
}

.feature-list .item + .item {
    margin-left: var(--card-gap);
}

.feature-icons {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--card-gap);
    background-color: var(--secondary-background-color);
}

.feature-list .title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-list .text {
    font-size: 14px;
    line-height: 1.71;
}

/* Чем мы занимаемся */

.about-list {
    display: flex;
    margin-left:calc(-1 * var(--card-gap));
}

.about-item {
    position: relative;
    flex-basis: calc(100% / 3 - var(--card-gap));
    margin-left: var(--card-gap);
    z-index: -1;
}

.about-item > .text {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--background-overlay-about);
    color: var(--white-color);
}

/* Наша команда */

.team {
    background-color: var(--secondary-background-color);
    margin-right: auto;
    margin-left: auto;
}

.team-list {
    display: flex;
    margin-left: calc(-1 * var(--card-gap));
}

.team-item {
    flex-basis: calc(100% / 4 - var(--card-gap));
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left: var(--card-gap);

    background-color: var(--white-color);
}

.team-item-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-name {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links .item + .item {
    margin-left: 10px;
}

.team-social-link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
    color: var(--icon-color);

    transition: color 250ms var(--timing-function), 
    background-color 250ms var(--timing-function);
}

.team-social-link:hover, .team-social-link:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.team-social-link .icon {
    fill: currentColor;
}

/* Постоянные клиенты */

.clients {
    display: flex;
    margin-left: calc(-1 * var(--card-gap));
}

.clients .item {
    flex-basis: calc(100% / 6 - var(--card-gap));
    margin-left: var(--card-gap);
}

.client-link {
    display: flex;
    width: 100%;
    height: 92px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    color: var(--icon-color);

    transition: color 250ms var(--timing-function), 
    border 250ms var(--timing-function);
}

.client-link:hover, .client-link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.client-icon {
    fill: currentColor;
}

/* Footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-footer-color);
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer a {
    display: block;
}

.address-container {
    margin-right: 70px;
}

.footer .logo-web, .footer .logo-studio {
    margin-bottom: 20px;
    color:  var(--accent-color);
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.footer .logo-studio {
    color: var(--white-color);
}

.address-list {
    width: 231px;
}

.address-list .item:not(:last-child) {
    margin-bottom: 9px;
}

.link-address {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    transition: color 250ms var(--timing-function);
}

.link-address:hover, .link-address:focus {
    color: var(--accent-color);
}

.address-list .link-mail {
    color: var(--text-adress-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    transition: color 250ms var(--timing-function);
} 

.address-list .link-mail:hover, .address-list .link-mail:focus {
    color: var(--accent-color);
}

.address-list .link-tel {
    color: var(--text-adress-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    transition: color 250ms var(--timing-function);
} 

.address-list .link-tel:hover, .address-list .link-tel:focus {
    color: var(--accent-color);
}

.footer-socials .text, .footer-form .text {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
}

.footer-social.link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    background-color: var(--icon-background-footer);
    color: var(--white-color);

    transition: background-color 250ms var(--timing-function);
}

.footer-social.link:hover, .footer-social.link:focus {
    background-color: var(--accent-color);
}

.footer-social .icon {
    fill: currentColor;
}

.footer-form {
    margin-left: auto;
}

.email-form {
    display: flex;
}

.email-form input[type="email"] {
    display: inline-block;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;

    font-size: 16px;
    line-height: 1.25;
    color: var(--text-adress-color);
    background-color: var(--background-footer-color);
}

.email-form .button {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.email-form .icon {
    margin-left: 10px;
    fill: var(--white-color);
}

/*-----Стили страницы портфолио----- */

/* Фильтры */

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filters .item + .item {
    margin-left: 8px;
}

.filter-button {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 73px;
    padding: 6px 22px;
    cursor: pointer;

    background-color: var(--secondary-background-color);
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.filter-button:hover, .filter-button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Проекты */

.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-gap));
    margin-left: calc(-1 * var(--card-gap));
}

.project-item {
    flex-basis: calc(100% / 3 - var(--card-gap));
    margin-top: var(--card-gap);
    margin-left: var(--card-gap);
    background-color: var(--white-color);
}

.project-item-link {
    display: block;
    transition: box-shadow 250ms var(--timing-function);
}

.project-item-link:hover, .project-item-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-overlay {
    position: relative;
    overflow: hidden;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 101%;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    color: var(--white-color);
    background-color: var(--overlay-project-card);

    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
}

.project-item-link:hover .text-overlay, .project-item-link:focus .text-overlay {
    transform: translateY(0);
}

.project-item-content {
    padding: 20px 24px;
    border-right: 1px solid var(--border-project-color);
    border-bottom: 1px solid var(--border-project-color);
    border-left: 1px solid var(--border-project-color);
}

.project-item-content .title {
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-item-content .text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.87;
}