.features {
    padding-bottom: 0;
}

.feature-list {
    display: flex;
    margin-left: calc(-1 * var(--card-gap));
}

.feature-list__item {
    flex-basis: calc(100% / 4 - var(--card-gap));
    margin-left: var(--card-gap);
}

.feature-list__icon {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--card-gap);
    background-color: var(--secondary-background-color);
}

.feature-list__title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-list__text {
    font-size: 14px;
    line-height: 1.71;
}