.header-list {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header__item:not(:first-child) {
    margin-left: 50px;
}

.header__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;

    transition: color 250ms var(--timing-function);

    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.header__icon {
    margin-right: 10px;
    fill: currentColor;
}