.project-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-gap));
    margin-left: calc(-1 * var(--card-gap));
}

.project-list__item {
    flex-basis: calc(100% / 3 - var(--card-gap));
    margin-top: var(--card-gap);
    margin-left: var(--card-gap);
    background-color: var(--white-color);
}
